@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  width: 100%;
  height: 100%;
  padding: 0 20%;
  display: flex;
  background: linear-gradient(307deg, rgb(2, 0, 36) 0%, rgb(30, 58, 95) 70%);
}

.app {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  box-shadow: 0px 0px 10px 0px #938e88;
  background-color: #f5ede2;
  opacity: 1;
  background-image: radial-gradient(#1e3a5f 2px, transparent 2px), radial-gradient(#1e3a5f 2px, #f5ede2 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}

button {
  border: initial;
  background-color: initial;
}

.button {
  margin-top: 10px;
  padding: 5px 15px;
  background-color: #5e454e;
  color: rgba(245, 237, 226, 0.8);
  font-size: 16px;
  border-radius: 5px;
  transition: all 0.2s;
}
.button:hover, .button:focus {
  background-color: #785964;
  color: #f5ede2;
  cursor: point;
}

.block-button {
  display: block;
  width: 100%;
  padding: 15px 0;
  background-color: #5e454e;
  color: rgba(245, 237, 226, 0.8);
  font-size: 18px;
  border-radius: 5px;
  transition: all 0.2s;
}
.block-button:hover, .block-button:focus {
  background-color: #785964;
  color: #f5ede2;
  cursor: point;
}
.block-button:nth-child(n+2) {
  margin-top: 10px;
}

input {
  font: inherit;
  border: none;
}

@keyframes fade-out {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 15%;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes timer {
  0% {
    opacity: 0%;
    transform: translateY(-30px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}
@keyframes count-down {
  0% {
    opacity: 0%;
    transform: translateY(-30px) scale(1.5);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px) scale(1);
  }
}
@keyframes count-down {
  0% {
    opacity: 0%;
    transform: translateY(-30px) scale(1.5);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px) scale(1);
  }
}
.first-heading {
  display: flex;
  justify-content: center;
  margin: 35px 0;
}

.container {
  width: 100%;
  height: calc(100% - 136px);
  display: flex;
  justify-content: center;
}

.title-screen {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-screen__title {
  max-width: 100%;
  object-fit: contain;
}
.title-screen__img {
  margin-top: 75px;
  max-width: 40%;
  object-fit: contain;
  animation: spin 10s linear infinite;
}
.title-screen__text {
  margin-top: auto;
  margin-bottom: auto;
  color: #785964;
  font-size: 40px;
  font-weight: 400;
  animation: fade-out 3s linear infinite alternate;
}

.rules {
  align-self: center;
  border: solid #523d45 3px;
  padding: 20px;
  background-color: #f5ede2;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #938e88;
}
.rules__title {
  color: #1e3a5f;
}
.rules__desc {
  margin-top: 20px;
  color: #1e3a5f;
  font-size: 18px;
  line-height: 1.7;
}
.rules__icon {
  margin-right: 7px;
}

.main-menu {
  width: 100%;
  height: 100%;
  padding: 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 3.125rem;
}
.main-menu__button {
  margin-top: 10px;
  display: block;
  width: 100%;
  padding: 15px 0;
  background-color: #5e454e;
  color: rgba(245, 237, 226, 0.8);
  font-size: 18px;
  border-radius: 5px;
  transition: all 0.2s;
}
.main-menu__button:hover, .main-menu__button:focus {
  background-color: #785964;
  color: #f5ede2;
  cursor: pointer;
}
.main-menu__icon {
  margin-right: 7px;
}

.pregame-timer {
  margin-top: 75px;
  color: #523d45;
  font-size: 8rem;
  animation: timer 1s infinite backwards;
}

.game-screen {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.game-screen__img {
  margin-top: -30px;
  max-width: 40%;
  object-fit: contain;
  transform: translateY(0px);
  transition: 0.2s all;
}
.game-screen__img:active {
  transform: translateY(30px);
}

.score-box {
  width: 70%;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  border: solid #523d45 3px;
  background-color: #f5ede2;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #938e88;
}
.score-box__item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1e3a5f;
  font-size: 2rem;
  text-align: center;
  border-right: #523d45 3px solid;
}
.score-box__item:last-child {
  border-right: 0;
}
.score-box__text--score {
  margin-left: 8px;
}
.score-box__text--timer {
  margin-left: 8px;
}

.score-screen {
  width: 100%;
  height: 100%;
  padding: 0 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.score-screen__home-button {
  display: block;
  width: 100%;
  padding: 15px 0;
  background-color: #5e454e;
  color: rgba(245, 237, 226, 0.8);
  font-size: 18px;
  border-radius: 5px;
  transition: all 0.2s;
}
.score-screen__home-button:hover, .score-screen__home-button:focus {
  background-color: #785964;
  color: #f5ede2;
  cursor: pointer;
}
.score-screen__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: solid #523d45 3px;
  padding: 20px;
  background-color: #f5ede2;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #938e88;
}
.score-screen__label {
  width: 100%;
  color: #1e3a5f;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
}
.score-screen__input {
  margin-top: 5px;
  border-radius: 50px;
  padding: 5px 10px;
  outline-color: #523d45;
  width: 60%;
  transition: all 0.2s;
  font-weight: initial;
}
.score-screen__input:focus {
  width: 100%;
}
.score-screen__input::placeholder {
  font-size: 15px;
  font-style: italic;
}
.score-screen__icon {
  margin-right: 7px;
}

.invalid-text {
  margin-top: 5px;
  color: rgb(189, 0, 0);
  font-size: 16px;
  font-weight: 500;
}

.ranking {
  color: #1e3a5f;
  text-align: center;
  border: solid #523d45 3px;
  padding: 20px;
  background-color: #f5ede2;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #938e88;
}
.ranking__info {
  font-size: 18px;
  margin-top: 20px;
}

.hidden {
  display: none;
}

.timer-warning {
  color: rgb(189, 0, 0);
  animation: count-down 1s infinite backwards;
}
