@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  background: rgb(2, 0, 36);
  background: linear-gradient(307deg, rgb(2, 0, 36) 0%, rgb(30, 58, 95) 70%);
}

.app {
  width: 60%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  box-shadow: 0px 0px 80px 10px rgba(147, 142, 136, 0.3);
  background-color: #f5ede2;
  opacity: 1;
  background-image: radial-gradient(#1e3a5f 2px, transparent 2px), radial-gradient(#1e3a5f 2px, #f5ede2 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}

button {
  border: initial;
  background-color: initial;
}

@keyframes fade-out {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 15%;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.first-heading {
  display: flex;
  justify-content: center;
  margin: 35px 0;
}

.container {
  height: calc(100% - 136px);
  display: flex;
  justify-content: center;
}

.title-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.title-screen__title {
  max-width: 100%;
  object-fit: contain;
}
.title-screen__img {
  max-width: 100%;
  object-fit: contain;
  animation: spin 10s linear infinite;
}
.title-screen__text {
  margin-top: 75px;
  padding: 50px 0;
  color: #785964;
  font-size: 40px;
  font-weight: 400;
  animation: fade-out 3s linear infinite alternate;
}

.main-menu {
  height: 100%;
  padding: 0 20%;
  display: flex;
  flex-direction: column;
}
.main-menu__title {
  color: #14263e;
}
.main-menu__desc {
  margin-top: 20px;
  color: #1e3a5f;
  font-size: 20px;
  line-height: 1.7;
}
.main-menu__buttons {
  margin-top: auto;
  margin-bottom: 30px;
}
.main-menu__btn {
  margin-top: 10px;
  display: block;
  width: 100%;
  padding: 15px 0;
  background-color: #5e454e;
  color: rgba(245, 237, 226, 0.8);
  font-size: 18px;
  border-radius: 5px;
  transition: all 0.2s;
}
.main-menu__btn:hover, .main-menu__btn:focus {
  background-color: #785964;
  color: #f5ede2;
  cursor: pointer;
}

.hidden {
  display: none;
}
